name: Backport GH Issue

on:
  workflow_call:
    secrets:
      GH_ACTIONS_REPO_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
        with:
          show-progress: false

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Create Backport Issue
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACTIONS_REPO_TOKEN }}
          GITHUB_EVENT: ${{ toJSON(github.event) }}
        run: |
          wget -q https://github.com/spring-io/backport-bot/releases/download/latest/backport-bot-0.0.1-SNAPSHOT.jar
          java -jar backport-bot-0.0.1-SNAPSHOT.jar --github.accessToken="$GITHUB_TOKEN" --github.event_name "$GITHUB_EVENT_NAME" --github.event "$GITHUB_EVENT"
