name: Pull Request Build with Maven

on:
  workflow_call:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4
        with:
          show-progress: false

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 24
          cache: 'maven'

      - name: Build with Maven
        run: mvn verify -B -ntp

      - name: Capture Test Results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: '**/target/surefire-reports/**/*.*'
          retention-days: 3
