name: Promote Staged GA release from Artifactory to Maven Central

on:
  workflow_call:
    inputs:
      artifactoryUrl:
        description: 'The Artifactory Server'
        required: false
        type: string
        default: https://repo.spring.io
      artifactoryProjectKey:
        description: 'The Artifactory project key'
        required: false
        type: string
      buildName:
        description: 'The Artifactory Build Name'
        required: true
        type: string
      buildNumber:
        description: 'The Artifactory Build Number'
        required: true
        type: string
      targetRepository:
        description: 'The Artifactory Repository to promote the build to'
        required: false
        type: string
        default: libs-release-local

    secrets:
      OSSRH_URL:
        required: false
      OSSRH_S01_TOKEN_USERNAME:
        required: false
      OSSRH_S01_TOKEN_PASSWORD:
        required: false
      OSSRH_STAGING_PROFILE_NAME:
        required: false
      GPG_PASSPHRASE:
        required: true
      GPG_PRIVATE_KEY:
        required: true
      ARTIFACTORY_USERNAME:
        required: true
      ARTIFACTORY_PASSWORD:
        required: true

env:
  OSSRH_URL: ${{ secrets.OSSRH_URL }}
  WORKFLOWS_REF: main

jobs:
  release-to-central:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
        with:
          repository: spring-io/spring-github-workflows
          show-progress: false
          ref: ${{ env.WORKFLOWS_REF }}

      - uses: jfrog/setup-jfrog-cli@v3
        env:
          JF_URL: ${{ inputs.artifactoryUrl }}
          JF_USER: ${{ secrets.ARTIFACTORY_USERNAME }}
          JF_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}

      - name: Promote Build
        run: jfrog rt build-promote ${{ inputs.buildName }} ${{ inputs.buildNumber }} ${{ inputs.targetRepository }} --project=${{ inputs.artifactoryProjectKey }}

      # Download released files
      - name: Download Release Files
        if: env.OSSRH_URL
        run: |
          jfrog rt download \
            --spec utils/release-files-spec.json \
            --spec-vars "buildname=${{ inputs.buildName }};buildnumber=${{ inputs.buildNumber }}"

      # Create checksums, signatures and create staging repo on central and upload
      - uses: jvalkeal/nexus-sync@v0.0.2
        id: nexus
        if: env.OSSRH_URL
        with:
          url: ${{ secrets.OSSRH_URL }}
          username: ${{ secrets.OSSRH_S01_TOKEN_USERNAME }}
          password: ${{ secrets.OSSRH_S01_TOKEN_PASSWORD }}
          staging-profile-name: ${{ secrets.OSSRH_STAGING_PROFILE_NAME }}
          create: true
          upload: true
          generate-checksums: true
          pgp-sign: true
          upload-parallel: 10
          pgp-sign-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          pgp-sign-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          close: true
          release: true