name: Backport GH Issue

on:
  workflow_call:
    secrets:
      GH_ACTIONS_REPO_TOKEN:
        required: true

jobs:
  backport-issue:
    runs-on: ubuntu-latest
    steps:

      - name: Create Backport Issue
        uses: spring-io/backport-bot@v0.0.1
        with:
          token: ${{ secrets.GH_ACTIONS_REPO_TOKEN }}
