name: Pull Request Build with Gradle

on:
  workflow_call:
    inputs:
      runner:
        description: 'The runner for job'
        required: false
        type: string
        default: ubuntu-latest
    secrets:
      ARTIFACTORY_USERNAME:
        required: false
      ARTIFACTORY_PASSWORD:
        required: false

env:
  ARTIFACTORY_USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
  ARTIFACTORY_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}

jobs:
  build-pr:
    runs-on: ${{ inputs.runner }}
    steps:

      - uses: actions/checkout@v4
        with:
          show-progress: false

      - uses: spring-io/spring-gradle-build-action@v2
        with:
          java-version: '23'

      - name: Run Pull Request Build
        timeout-minutes: 30
        run: gradle check

      - name: Capture Test Results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: '*/build/reports/tests/**/*.*'
          retention-days: 3
