name: Promote Staged Milestone in Artifactory

on:
  workflow_call:
    inputs:
      artifactoryUrl:
        description: 'The Artifactory Server'
        required: false
        type: string
        default: https://repo.spring.io
      artifactoryProjectKey:
        description: 'The Artifactory project key'
        required: false
        type: string
      buildName:
        description: 'The Artifactory Build Name'
        required: true
        type: string
      buildNumber:
        description: 'The Artifactory Build Number'
        required: true
        type: string
      targetRepository:
        description: 'The Artifactory Repository to promote the build to'
        required: false
        type: string
        default: libs-milestone-local

    secrets:
      JF_ARTIFACTORY_SPRING:
        required: true

env:
  JF_ENV_SPRING: ${{ secrets.JF_ARTIFACTORY_SPRING }}
  WORKFLOWS_REF: main

jobs:
  promote-milestone-with-jfrog:
    runs-on: ubuntu-latest
    steps:

      - uses: jfrog/setup-jfrog-cli@v3
        env:
          JF_URL: ${{ inputs.artifactoryUrl }}
          JF_USER: ${{ secrets.ARTIFACTORY_USERNAME }}
          JF_PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}

      - name: Promote Build
        run: jfrog rt build-promote ${{ inputs.buildName }} ${{ inputs.buildNumber }} ${{ inputs.targetRepository }} --project=${{ inputs.artifactoryProjectKey }}