name: Deploy Release (Milestone or GA) to Maven Central from Artifactory Build

on:
  workflow_call:
    inputs:
      buildName:
        description: 'The Artifactory Build Name'
        required: true
        type: string
      buildNumber:
        description: 'The Artifactory Build Number'
        required: true
        type: string
      runner:
        description: 'The runner for job'
        required: false
        type: string
        default: ubuntu-latest

    secrets:
      OSSRH_S01_TOKEN_USERNAME:
        required: true
      OSSRH_S01_TOKEN_PASSWORD:
        required: true
      OSSRH_STAGING_PROFILE_NAME:
        required: true
      JF_ARTIFACTORY_SPRING:
        required: true

env:
  JF_ENV_SPRING: ${{ secrets.JF_ARTIFACTORY_SPRING }}
  WORKFLOWS_REF: main

jobs:
  deploy-to-maven-central:
    runs-on: ${{ inputs.runner }}
    steps:

      - uses: actions/checkout@v4
        with:
          repository: spring-io/spring-github-workflows
          show-progress: false
          ref: ${{ env.WORKFLOWS_REF }}

      - uses: jfrog/setup-jfrog-cli@v4

      - name: Download Release Files
        run: |
          jfrog rt download \
            --spec utils/release-files-spec.json \
            --spec-vars "buildname=${{ inputs.buildName }};buildnumber=${{ inputs.buildNumber }}"

      - uses: spring-io/nexus-sync-action@v0.0.1
        id: nexus
        with:
          username: ${{ secrets.OSSRH_S01_TOKEN_USERNAME }}
          password: ${{ secrets.OSSRH_S01_TOKEN_PASSWORD }}
          staging-profile-name: ${{ secrets.OSSRH_STAGING_PROFILE_NAME }}
          create: true
          upload: true
          generate-checksums: true
          upload-parallel: 10
          close: true
          release: true
          close-timeout: 3600
          release-timeout: 3600